<a href="https://colab.research.google.com/github/XXII-SE/Equitech-Futures/blob/main/1_Variables_and_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables & Data Types

### In this notebook, we'll be looking at how variables and data types work in Python.

You might be familiar with the term "variable" from social research, where it typically refers to attributes that can take specific values, like a participant's age, which can be anywhere from 0 to 123 (the current world record) or a participant's mother tongue, which can be any of the roughly 6500 languages spoken in the world today.

You might also recall the term variable from math, where it refers to a symbol that represents a quantity in a mathematical expression. For example, in the equation
$
\begin{align}
x + 2 = 7
\end{align}
$
, **x** is the variable.

For our purposes, a variable is a symbolic name associated with a value and whose associated value may be changed. That may sound fancy, but I promise that it's really not. Let's consider an example, to see how this works.

Suppose you don't keep your money in the bank, and you keep it safely stowed away at home. When you get paid, you add the money to your stache, and when you need money for your expenses, you take money out of your stache. 

Now imagine you wanted to record the money you have in your stache. So you count all your money and realize you have $500. You can record your current balance in python via the following code:

In [ ]:
balance = 500
print(balance)

In the first line, we define a new variable `balance` and assign a value of 500 to the variable `balance`. In the second line we told Python to print `balance` and the output was 500, i.e. the value we assigned to `balance`.

So variables allow us to store information that can be later referenced or manipulated in our program.

Now let's say you just got paid $250, for winning a coding competition, and you promptly add that to your stache. To update your balance in the program, we would do the following:

In [ ]:
balance = balance + 250
print(balance)

That first line might look very strange to you. If you think of this line as an algebraic expression

$
\begin{align}
x = x + 250
\end{align}
$

it would be nonsensical! There is no solution! So what's going on?

In Python, the = sign is used for **assignment**, not to represent equality. So we're not saying that `balance` is equal to `balance` + 250. 


We're saying take the value of `balance`, add 250, and re-assign that to the variable `balance`. The self-referential aspect of this might be confusing, but it really shouldn't be, because it's just like real life: once you've added the money, your old balance is replaced by a new balance which is just your old balance + the amount you added.

Run the previous block of code a few more times successively, and you'll see that it keeps printing a new value each time, i.e. 250 more than the previous run because we keep adding 250 to the existing value of `balance`. If we want to start with our initial balance and add our prize earnings just once, run the first block of code at the top of the notebook again, and run the previous block of code just once.

Now let's say you lend your friend Ben $150. You take that money out of your stache, and hand it to Ben. To update your balance in the program, we would do exactly the same as what we did before, just subtracting 150 instead of adding 250.

In [ ]:
# Try implementing this transaction

When Python assigns a variable to a value, it gives that variable a *type*, based on the value the variable is assigned. We can check the type of a variable by invoking the `type()` function as follows:

In [ ]:
type(balance)

Python tells us that `balance` is an `int`, which is just short for **integer**: any number, positive, negative, or zero, that doesn't have a fractional part, e.g. 7, 135, -9, etc.

Now say you go shopping for some groceries, which cost $27.64. You take money out of your stache, hand it to the cashier and get change back, which you promptly put back in your stache. Just like the previous example, implement this transaction and print the balance

In [ ]:
# Try implementing this transaction

But clearly this is no longer an `int`, because we now have a decimal portion to our number. So what is it then?

In [ ]:
# Try running the type function on the balance variable

Python tells us that `balance` is now a `float`, which is short for a **floating point number** . Don't worry, that's just computer-science talk for a number with a decimal point in it (when decimals are stored in memory, unlike integers, the computer needs to additionally keep track of where in the number the decimal occurs -- i.e. the difference between 38.6902 vs 3869.02)

Are variables used just for numbers? Not at all! Let's look at a totally different example.

Say you're a teacher and you have a new student in your class, and you want to remember her name, but you're really bad with names. She tells you her name is Emily, so you run to your computer and enlist Python's help so that you won't forget.

In [ ]:
new_student = "Emily"
print(new_student)

We see the double quotes again, which we used in the last notebook when printing our "Hello World" message. The double quotes signify a new data type ... let's ask Python what it is.

In [ ]:
# Try running the type function on the new_student variable

Python tells us that `new_student` is a `str`, which is just short for string: strings refer to a sequence of characters, or more simply any text. 

In Python you can use single quotes `''` instead to also signify strings, so don't be surprised if you see this elsewhere or in future notebooks. If you're curious about this, check out this discussion on Stack Overflow: https://stackoverflow.com/questions/56011/single-quotes-vs-double-quotes-in-python.

As a teacher, you're meant to really know both the first and last name of your students. So you ask Emily for her last name as well, and enlist Python once again to make sure you remember her full name.

In [ ]:
first_name = "Emily"
last_name = "Chen"

new_student = first_name + " " + last_name

print(new_student)

Notice two things. First, the + operator when used on strings, serves to concatenate, or join them together (concatenation is a fancy computer science term for joining which you will encounter throughout your programming career). Second, we were able to combine the values of `first_name` and `last_name` (with a space `" "` in the middle) to yield a new string, which we assigned to `new_student`.

Now here's where data types can get important. When we read data in from a csv file or an excel sheet, often Python can figure out whether what it's reading should be intepreted as an `int`, `float`, or `str`. But sometimes there's not enough clues for Python to figure this out, and for example, Python might read the number 8 as a string "8". What would happen if you try to do math with that?

In [ ]:
# Assign values 3 and "8" to variables a and b


# Add these two variables

We get a `TypeError` error, because it's nonsensical to "add" a string of text to a number.

But here just as a human being can conceptually recast the text "8" into the number 8, so can Python. Here's how:

In [ ]:
a + int(b)

The `int()` function reinterpreted the string "8" as the integer 8. This type of reinterpretation is referred to as *casting*, and functions that do this are called constructor functions. What if we instead had a string like "8.72"?

In [ ]:
a = 3
b = "8.72"

a + float(b)

11.72

We just use the constructor function `float()` instead to cast the string "8.72" into the float 8.72. But neither `int()` nor `float()` will work on just any string you give it. Just as a human wouldn't know how to convert the string "elephant" into a number, Python will be confused too:

In [ ]:
# Try converting "elephant" to int!

print(int("elephant"))

ValueError: ignored

But sometimes we may have numbers that we would rather have Python interpret as a string, say a serial number or pass code. Suppose you wanted to add a few digits to the end of a pass code to make it stronger.

In [ ]:
passcode = str(6609052530)
addendum = str(3187)

passcode = passcode + addendum

print(passcode)

66090525303187

Since Python saved both `passcode` and `addendum` as numbers, it interpreted the + operator as addition, instead of the concatenation of strings we were hoping for. To fix this, we can simply convert `passcode` & `addendum` to string and concatenate them together. We can do this by using the the constructor function `str()` to cast `passcode` and `addendum`, which were numbers, into strings.

In [ ]:
passcode = 6609052530
addendum = 3187

# Try converting here!


print(passcode)

Let's end by briefly going over variable names. Variables can be named anything, but with some constraints, namely that variabe names

*   can contain letters and numbers as well as underscores
*   cannot contain spaces
*   cannot start with a number, and typically start with a lowercase letter
*   are case sensitive

You should always give your variables a descriptive name. For example, when our variable corresponded to the net amount of money we had, we called it *balance*. Where a more complicated name was required to be descriptive, Python recommends we use underscores to split the words, like in `first_name`. 

You don't however want very long variable names, that makes your code unwieldy to read and difficult to make sense of.

In [ ]:
## Considering the above points, explore what Python allows/disallows as a variable name.
# Try here



## Additionally, try to write clear & concise VARIABLE NAMES for the following

# 1 - A variable that store the conversion rate of US dollars to British pounds.

# 2 - Two variables for storing the speed of a vehicle in miles/hr & km/hr.

# 3 - Two separate variables that store speed of light (299792458) as an integer and as a string.

# 4 - Six variables that store X, Y co-ordinates with three different units each: Pixels, Inches and Points.

# Checkpoint

### #1

Let's revisit the example of our personal home banking system. Let's say you start with a balance of $500, and you have the following transactions:

  1.   Your bicycle has a punctured wheel and a broken chain, so you need to spend $60 on a new chain and wheel. 

  2.   Your friend Ben returns $105 dollars, and says he'll pay the rest back later.

  3.   You buy a pair of jeans for $8.95.

Define three new variables, *bike_repair*, *ben_return*, *jeans* with the appropriate values based on the scenario described above, and update your balance successively, generate the following output along the way:

```
My initial balance:
500
My balance after bike repair:
440
My balance after Ben returned some of the money:
545
My balance after purchasing a pair of jeans:
536.05
```

In [ ]:
# Your answer here

### #2

This is a quick and easy one. Let's revisit the example in which you're a teacher using Python to remember your student's name. Suppose you want to add your new student's name to the roster, but all names in the roster are stored in the format 

```
    last name, first name

    e.g. Smith, John
```

Using the variables *first_name* and *last_name*, re-assign the variable *new_student* to a string with your new student's name in the the roster format described above.

In [ ]:
# Your answer here

### #3

Let's practice data type casting using constructor functions. Start by assigning to variables named *a*, *b*, and *c* the following values, respectively: 67, "34", and 9.25.

  Using just the variables *a*, *b*, and *c* along with the + operator, constructor functions, and the print function, generate the following output(s):

```
101
3467
9.2534
679.25
110.25
```

In [ ]:
# Your answer here

print()